<!-- chatRoomView.html -->
<div data-role="view" id="chatRoom"
     data-layout="default"
     data-model="app.ChatRoom"
     data-show="app.ChatRoom.show">
    <header data-role="header">
        <div data-role="navbar">
            <h2 data-bind="text: title">Loading ...</h2>
            <a class="nav-button nav-button-back hide-text"
               data-align="left"
               data-role="backbutton"
               href="#onlineContacts">Back</a>
        </div>
        <div class="txtarea-wrp">
            <!--   id="chatRomInput"
                 <a data-role="button" onclick="app.ChatRoom.send()" onfocus="app.ChatRoom.send()">Send</a>
                 -->


            <textarea autofocus="autofocus" data-bind="value: newMessageText" placeholder="Message ..." required></textarea>
            <a data-role="button" onclick="app.ChatRoom.send()" onfocus="app.ChatRoom.send()">Send</a>
            <!--
            <button class="messageButton123 btn" data-role="button" onclick="app.ChatRoom.send()" onfocus="app.ChatRoom.send()">Send</button>
                <button class="messageButton123 btn" data-role="button" data-bind="events: {click: send}">Send</button>
            <a class="messageButton123" data-role="button" data-bind="events:  { tap: send }">Send</a>
              -->

        </div>
    </header>

    <div>
        <ul id="messagesContainer" data-role="listview"
            data-bind="source: messages"
            data-template="messageTemplate"></ul>
    </div>


</div>

<script id="messageTemplate" type="text/x-kendo-template">
    <li class="messageItem">

        <div style="color: black">
            <b>#: creatorName #</b><br />
            #: text #<br />
            <em>#: createdAt # </em><br />
            <em>#: location.latitude # </em>, <em>#: location.longitude # </em>
        </div>
    </li>

</script>