<!-- mapView.html -->
<div data-role="view" id="map" data-layout="default" class="profile-view" data-show="app.Map.show">
    <header data-role="header">
        <div data-role="navbar">
            <h2 data-bind="text: title"></h2>
            <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton" href="#onlineContacts">Back</a>
        </div>
    </header>
    <div class="map" >
        <!--<div data-bind="text: lat"></div>
        <div data-bind="text: long"></div>-->
        <div id="map-canvas"></div>
    </div>
</div>

