<!-- userProfileView.html -->
<div data-role="view" id="userProfile" data-layout="default" class="profile-view"
       data-show="app.UserProfile.show">
    <header data-role="header">
        <div data-role="navbar">
            <h2 data-bind="text: title"></h2>
            <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton" href="#welcome">Back</a>
        </div>
    </header>
    <div class="profile-data">
        <div class="user-avatar"><img src="http://www.clker.com/cliparts/5/7/4/8/13099629981030824019profile.svg.med.png" /></div>
        <div class="user-data">
            <p data-bind="text: Username"></p>
        </div>
    </div>
</div>



