<!-- userProfileView.html -->
<div data-role="view" id="userProfile" data-layout="default" class="profile-view"
     data-show="app.UserProfile.show">
    <header data-role="header">
        <div data-role="navbar">
            <h2 data-bind="text: title"></h2>
            <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton" href="#onlineContacts">Back</a>
        </div>
    </header>
    <div class="profile-data">
        <div>
            <div class="user-avatar" onclick="app.UserProfile.makePicture()" onfocus="app.UserProfile.makePicture()">
                <!--<img id="myImage" src="http://www.clker.com/cliparts/5/7/4/8/13099629981030824019profile.svg.med.png" />-->
                <img id="myImage" data-bind="attr: { src: Avatar }" />
            </div>
            <div class="user-data">
                <p>
                    Name: <span data-bind="text: DisplayName"></span>
                </p>
                <p>
                    Username: <span data-bind="text: Username"></span>
                </p>
                <p>
                    Email: <span data-bind="text: Email"></span>
                </p>
                <p>
                    Phone: <span data-bind="text: PhoneNumber"></span>
                </p>
            </div>
        </div>
        <button id="syncContacts" onclick="app.Sync.sync()" onfocus="app.Sync.sync()">Synchronize Contacts</button>
        <div class="is-online">Online: <span data-bind="text: IsOnline"></span></div>
        <div class="info">Info: <div data-bind="text: About"></div></div>
    </div>
</div>

